<<<<<<< HEAD
//@import "https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css";
@import "sigle";
@import"welcome";
@import"contact";
=======

@use 'welcome';
@use 'sigle';





>>>>>>> scss
.row_column_text_center{

    h1{
        text-align: center;
        font: 2em sans-serif;
        
    
    }
}

$bg_menu_color:rgba(0, 0, 0, 0.966);
$font_color:rgba(255, 250, 240, 0.904);s

 

%deco{
    text-decoration: none;
}

.top-bar{
    background-color:$bg_menu_color;
    height: 4em;
   
    .top-bar-left .menu {
    
        li {
        display: inline;
        padding-right: 3em;
        color: rgba(255, 255, 255, 0.822);
         
        display: inline-block;
        padding-top: 1em;
  
        :hover{
            color:rgba(172, 255, 47, 0.486);

        
        }
        

          
           
        
        

      
        font: 1.2em sans-serif;
      
      a{
          color: $font_color;
 
      }
    }


    }
  

}
.articles-liste{
    @extend %deco;
    color: #000;
    font:1em arial;
    padding-top: 2em;
    //text-decoration: none;
    :hover{
        color:green;
        text-shadow: bonjour ;
    }

   
        
    }

    a{
        text-decoration: none;
    }

<<<<<<< HEAD
   
=======

>>>>>>> scss
