



body{
.complete-article{

    width: 25em;
    padding-top: 2em;
    padding-left: 3em;
    padding-bottom: 2em;
    padding-right: 3em;
    background-color: rgba(0, 0, 255, 0.082);
    overflow-y:scroll; 
    overflow-x:hidden; 
    height:400px;
    margin:0 auto;
   
    
}
.author-article{

    padding-bottom: 5em;
    padding-left: 5em;
    
}
.articles {
    @extend .complete-article;
    width: 50em;
    

}
}