
body{
    .home_header{

        font: 1.3em sans-serif;
       
        
      
        text-align: center;
        
    }

  
}
.home-articles{
    padding-top: 2em;
    padding-left: 2em;
    margin: 0 auto;
li {
    a 
    {color:black;
        font:1em arial;
       
        
    }
    :hover{
        color:rgba(0, 0, 255, 0.603);
    }
    
}
}

.accueil_article{

   
    width: 25em;
    padding-top: 5em;
    padding-left: 3em;
    padding-bottom: 2em;
    padding-right: 3em;
    background-color: rgba(0, 0, 255, 0.082);
    overflow-y:scroll; 
    overflow-x:hidden; 
    height:400px;
    margin:0 auto;
}